:root {
    --global-color-1: #EDCCEB;
    --global-color-2: #F4DAF5;
    --global-color-3: #48038C;
    --global-color-4: #F2C849;
    --global-color-5: #F2A413;
    --global-color-6: #3A9558;
    --text-paragraph: #474747;
}