@import url(../css/global-colors.css);
@import url(../css/banner.css);

.hero {
    background-position: 50% 100%;
    color: var(--global-color-3);
    margin-top: -80px;
    row-gap: 20px;
    text-align: center;
}

.hero div h2 {font-size: 40px; text-transform: uppercase;}
.hero div p {font-size: 20px; font-weight: 400}
.hero div h4 {font-size: 30px;}

.hero div .sale-button {
    background: var(--global-color-4);
    border: none;
    border-radius: 40px;
    color: var(--global-color-3);
    font-size: 'poppins';
    font-weight: 800;
    height: 40px;
    width: 300px;
}