@import url(../css/estilos-globales.css);

.tienda-home {
    display: grid;
        gap: 20px;
        grid-template-columns: 25% 75%;
    margin: 50px auto 20px; 
    padding: 20px 20px;
    position: relative;
    max-width: 1280px;
}

.ordenar-productos {
    display: flex;
        align-items: center;
        gap: 3px;
    position: absolute;
        top: -30px;
        right: 0;
}

.ordenar-productos .filtros-de-orden {
    background: var(--global-color-6);
    color: snow;
    display: flex;
        align-items: center;
    line-height: 1.5rem;
    padding: 0 10px;
}

.ordenar-productos .filtros-de-orden svg{fill: snow;}

/* ESTILOS DEL PRODUCTO EN VENTA ===================================== */
.productos-en-venta {
    display: flex;  
        flex-direction: column;
        gap: 40px;
}

.producto-en-vitrina {
    display: flex;
        justify-content: space-between;
        gap: 30px;
}

.imagen-producto {
    border-radius: 5%;
    cursor: pointer;
    height: 200px;
    width: 250px;
    overflow: hidden;
}

.imagen-producto img {
    height: auto;
    transition: .5s;
    width: 100%;
}

.imagen-producto img:hover {
    transform: scale(1.2);
}

@supports(object-fit: cover){
    .imagen-producto img{
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
}

.descripcion-del-producto {
    display: flex;
        flex-direction: column;
        gap: 30px;
}

.info-producto {
    display: flex;
        flex-direction: column;
        gap: 10px;
}

.info-producto .nombre-producto {
    color: var(--global-color-5);
    font-size: 20px;
}

.info-producto .precio-descuento {
    color: red;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: px;
    text-decoration: line-through;
    margin-bottom: -10px;
    pointer-events: none;
    user-select: none;
}

.info-producto .precio-producto {
    color: #1b1b1b;
    font-weight: 600;
}

.info-producto .info {color: var(--text-paragraph)}

.etiquetas-producto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.etiquetas-producto  span{
    color: var(--global-color-6);
    font-weight: 500;
}