@import url(estilos-globales.css);

.banner::before {
    content: '';
    background: rgba(0,0,0,.4);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.banner .foco {text-align: center;}

.banner .foco h4 {
    color: snow;
    font-size: 40px;
    margin-bottom: 20px;
}

.banner .foco img {
    height: 200px;
    width: 200px;
    transition: 0.5s;
}

.banner .foco img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.contenedor {
    display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    min-height: 500px;
}

.dos-parrafos {
    display: grid;
        grid-template-columns: 1fr 1fr;
}

.caja-parrafo h3 {
    font-size: 30px;
    margin: 20px auto;
}

.caja-parrafo p {color: var(--text-paragraph);}

.burbuja {
    border-radius: 50%;
    box-shadow: 20px 20px var(--global-color-3);
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    width: 300px;
}

.bg-mision {
    background-color: #302b42;
    /* background-image: url(../img/jpg/seccion-comics.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

.seccion-mision {padding: 20px;}

.seccion-mision .titulo,.seccion-mision p {color: snow;}

@media (max-width: 600px) {
    .contenedor {padding: 50px 20px;}
    .dos-parrafos {display: flex;}
    .caja-parrafo {order: 2;}
}