div.contac-container {
    display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px 20px;
    width: fit-content;
}

div.contac-container .contact-us {
    display: flex;
        flex-direction: column;
        gap: 30px;
    grid-row: 2 / 3;
}

div.contac-container ul {
    display: flex;
        gap: 10px;
    list-style: none;
}

div.contac-container .contact-us ul {font-size: 40px;}

div.contac-container ul.list-contacts {
    flex-direction: column;
    grid-row: 2 / 3;
}

div.contac-container ul.list-contacts li i {font-size: 20px; margin-right: 10px;}

iframe.location-map {
    background-color: #acacac;
    height: 400px;
    width: 100vw;
    z-index: 50;
}

.contact-form {
    background-color: snow;
    position: relative;
        top: -150px;
    z-index: 55;
}

.contact-form.fieldset form {
    display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
}

.contact-form.fieldset form .inputbox:has(textarea),
.contact-form.fieldset form input[type="submit"] {
    grid-column: 1 / 3;
}

.contact-form.fieldset form input[type="submit"] {
    background-color: #000;
    color: snow;
}

@media (max-width: 900px) {
    .contact-form {top: -100px;}
}

@media (max-width: 600px) {

    div.contac-container {grid-template-columns: auto;}
    div.contac-container ul.list-contacts {grid-row: auto;}

    .contact-form {top: 0;}

    .contact-form.fieldset form {
        grid-template-columns: auto;
        height: auto;
    }

    .contact-form.fieldset form .inputbox:has(textarea),
    .contact-form.fieldset form input[type="submit"]
    {grid-column: 1;}
}