.fieldset {
    display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    margin: 0 auto;
    max-width: 700px;
    padding: 50px 120px;
}

.fieldset h4 {
    font-size: 30px;
    font-weight: 700;
}

.fieldset .required-field {
    color: tomato;
    font-weight: normal;
}

.fieldset form {
    color: var(--text-dark);
    display: flex;
        flex-direction: column;
        gap: 20px;
    font-weight: bold;
    width: 100%;
    text-align: start;
}

.fieldset form .inputbox {
    display: flex;
        flex-direction: column;
        gap: 5px;
}

.fieldset form .inputbox input,
.fieldset form .inputbox textarea,
.fieldset form .inputbox select {
    border: 0.5px #dbdbdb solid;
    border-radius: 3px;
    outline: none;
    padding: 10px;
}

.fieldset form .inputbox select {
    color: var(--text-paragraph);
}

.fieldset form .inputbox input[type="file"] {
    border: none;
    color: var(--text-paragraph);
    padding: 0;
}

.fieldset form .inputbox.input-radio .input-radio--options {
    display: flex;
        flex-wrap: wrap;
        gap: 40px;
    font-weight: normal;
    margin-top: 10px;
    width: 100%x;
}

@media (max-width: 600px){
    .fieldset {
        gap: 20px;
        padding: 50px;
    }
}