@import url(../css/global-colors.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    --header-height: 80px;
    background: snow;
    box-shadow: 5px 0 10px rgba(0,0,0,.3);
    height: var(--header-height);
    width: 100%;
    z-index: 999;
}

.header__container {
    display: flex;       
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

/* LOGO ================================= */
.header__logo {
    display: flex;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    height: 40px;
    margin: 0;
    max-width: 200px;
}

.header__logo img {
    height: 100%;
}

.header__logo h1 {
    color: var(--global-color-3);
    font-style: italic; 
    font-size: 40px;
}

/* NAVBAR =======================*/
.header__nav--main {
    width: 400px;
}

.header__nav--main .show-menu, .header__nav--main .header__nav--list .hide-menu {
    color: var(--global-color-3);
    cursor: pointer;
    display: none;
    font-size: 20px;
    transition: transform 0.5s;
}

.header__nav--main .show-menu:hover,
.header__nav--main .header__nav--list .hide-menu:hover {transform: scale(1.2);}

.header__nav--main .header__nav--list ul{
    display: flex;
        justify-content: space-between;
    list-style: none;
}

.header__nav--main .header__nav--list ul a {
    color: var(--global-color-3);
    font-family: 'Poppins', sans-serif, Helvetica;
    font-size: 14px;
    font-weight: 700;
}

.header__nav--main .header__nav--list ul a.active {color: var(--global-color-5);}


/* SEARCHER =====================================*/
.header__searcher {
    --transparent: rgba(71, 3, 140, 0.4);
    background: rgba(255, 255, 255, 0.4);
    border: .5px var(--transparent) solid;
    border-radius: 40px;
    display: flex;
        align-items: center;
        gap: 10px;
    height: 40px;
    min-width: 200px;
    padding: 0 10px;
    width: 250px;
}

.header__searcher svg {fill: var(--transparent);}
.header__searcher * {user-select: none; color: var(--transparent);}

/* USER OPTIONS ===============================================*/
.header__nav--useroptions {
    display: flex;
        align-items: center;
        justify-content: flex-end;
    height: 100%;
    position: relative;
    width: 80px;
}

.header__nav--useroptions--button {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    color: var(--global-color-3);
    display: flex;
        align-items: center;
        justify-content: center;
    height: 50px;
    width: 50px;
}

.header__nav--useroptions--button :nth-child(1) {font-size: 25px;}
.header__nav--useroptions--button :nth-child(2) {font-size: 14px;}

.header__nav--useroptions--button:hover,
.header__nav--useroptions--button.hovered {
    background: var(--global-color-3);
    color: snow;
}

.menu-opciones-usuario {
    background-color: var(--light-background);
    border: 1px solid #ac97c2;
    display: none;
    position: absolute;
        top: var(--header-height);
        right: 0;
    width: 240px;
    z-index: 999;
}

.header__nav--useroptions:hover .menu-opciones-usuario {display: block;}
.header__nav--useroptions--button:hover ~ .menu-opciones-usuario {display: block;}
.menu-opciones-usuario:hover {display: block;}


.menu-opciones-usuario ul {
    list-style: none;
}

.menu-opciones-usuario ul li {
    display: flex;
        align-items: center;
    border-bottom: 1px solid #d8d8d8;
    height: 40px;
}

.menu-opciones-usuario ul li:not(:has(a)) {margin-left: 20px; color: #888888;}

.menu-opciones-usuario ul li:has(a) a {
    display: flex;
        align-items: center;
        justify-content: space-between;
    color: var(--text-dark);
    height: 100%;
    margin: 0 20px;
    width: 100%;
}

.menu-opciones-usuario ul li:has(a):hover a {color: snow}
.menu-opciones-usuario ul li:has(a) {background-color: snow;}
.menu-opciones-usuario ul li:has(a):hover {background-color: var(--global-color-3);}

@media (max-width: 900px) {

    .header__container{padding: 0 50px;}

    .header__nav--main {
        order: 3;
        width: auto;
    }
    
    .header__nav--main .show-menu,
    .header__nav--main .header__nav--list .hide-menu {display: block;}

    .header__nav--main .header__nav--list {
        background-color: snow;
        border-left: 5px solid #ac97c2;
        display: flex;
            flex-direction: column;
        height: 100vh;
        padding: 25px;
        position: absolute;
            top: 0;
            right: 0;
        transition: all .8s;
        transform: translateX(0);
        --nav-width: 250px;
        width: var(--nav-width);
        z-index: 999;
    }

    .header__nav--main .header__nav--list.closed {
        visibility: hidden;
        /* display: none; */
        transform: translateX(250px);
    }

    .header__nav--main .header__nav--list .hide-menu {
        color: var(--global-color-3);
        align-self: flex-end;
        font-family: "Font Awesome 6 Free";
        margin-bottom: 40px;
    }

    .header__nav--main .header__nav--list ul{display: block;}

    .header__nav--main .header__nav--list ul li {
        display: flex;
            align-items: center;
        border-bottom: 1px solid #d8d8d8;
        height: 40px;
    }

    .header__nav--main .header__nav--list ul li a {
        display: flex;
            align-items: center;
            justify-content: space-between;
        height: 100%;
        margin: 0 20px;
        width: 100%;
    }

    .header__nav--main .header__nav--list ul li:hover {background-color: var(--global-color-3);}
    .header__nav--main .header__nav--list ul li:hover a {color: snow}
}

@media (max-width: 600px) {
    .header__container{padding: 0 20px;}
}