@import url(estilos-globales.css);

.hero {
    background-position: 50% 100%;
    color: var(--global-color-3);
    margin-top: -80px;
    text-align: center;
}

.hero div * {margin-bottom: 20px;}

.hero div h2 {font-size: 40px; text-transform: uppercase;}
.hero div p {font-size: 20px; font-weight: 400}
.hero div h4 {font-size: 30px;}

.hero div .sale-button {
    background: var(--global-color-4);
    border-radius: 40px;
    color: var(--global-color-3);
    display: inline-block;
    font-family: 'poppins', sans-serif, Helvetica;
    font-weight: 800;
    height: 40px;
    line-height: 40px;
    width: 300px;
}

.parrafo{
    margin: 40px auto;
    width: 1000px;
}