.pagination {
    display: flex;
        gap: 10px;
    margin: 0 auto;
}

.pagination a {
    color: #000;
    line-height: 30px;
    height: 30px;
    text-align: center;
    transition: all .4s;
    width: 30px;
}

.pagination a:hover {
    transform: scale(1.3);
}

.pagination a.active {
    border-bottom: 2px solid var(--global-color-5);
    color: var(--global-color-5);
}