@import url(estilos-globales.css);

.tienda-home {
    display: grid;
        gap: 20px;
        grid-template-columns: 20% auto;
    margin: 20px auto; 
    padding: 20px 20px;
    position: relative;
    max-width: 1280px;
}

/* ESTILOS DEL ASIDE ====================================*/

.titulo-producto-filtro {
    align-self: center;
    font-size: 25px;
    grid-row: 1 / 2;
}

.aside-filtros {
    grid-row: 2 / 3;
}

.aside-filtros .filtros, .aside-filtros .sub-filtros {
    display: flex;
        flex-direction: column;
        gap: 10px;
    list-style: none;
    margin-top: 10px;
}

.aside-filtros .filtros li {
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 500;
}

.aside-filtros .filtros .sub-filtros li {
    color:  #666666;
    font-size: 14px;
    font-weight: 400;
}

/* ESTILOS PARA EL FILTRO DE ORDEN =======================*/
.ordenar-productos {
    display: flex;
        align-items: center;
        gap: 3px;
        justify-self: flex-end;
}

.ordenar-productos .filtros-de-orden {
    background: var(--global-color-6);
    color: snow;
    display: flex;
        align-items: center;
    line-height: 1.5rem;
    padding: 0 10px;
}

.ordenar-productos .filtros-de-orden svg{fill: snow;}

/* ESTILOS DEL PRODUCTO EN VENTA ===================================== */
.productos-en-venta {
    display: flex;  
        flex-direction: column;
        gap: 40px;
}

.producto-en-vitrina {
    display: grid;  
        gap: 40px;
        grid-template-columns: 20% auto;
}

.imagen-producto {
    border-radius: 5%;
    cursor: pointer;
    height: 200px;
    max-width: 250px;
    overflow: hidden;
}

.imagen-producto img {
    transition: .5s;
    width: 100%;
}

.imagen-producto img:hover {
    transform: scale(1.2);
}

@supports(object-fit: cover){
    .imagen-producto img{
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
}

.descripcion-del-producto {
    display: flex;
        flex-direction: column;
        gap: 30px;
}

.info-producto {
    display: flex;
        flex-direction: column;
        gap: 10px;
}

.info-producto .nombre-producto {
    color: var(--global-color-5);
    font-size: 20px;
}

.info-producto .precio-descuento {
    color: red;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: px;
    text-decoration: line-through;
    margin-bottom: -10px;
    pointer-events: none;
    user-select: none;
}

.info-producto .precio-producto {
    color: #1b1b1b;
    font-weight: 600;
}

.info-producto .info {color: var(--text-paragraph)}

.etiquetas-producto {
    display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
}

.etiquetas-producto  span{
    color: var(--global-color-6);
    font-weight: 500;
}

@media (max-width: 900px) {
    .producto-en-vitrina {
        grid-template-columns: 30% auto;
    }
}

@media (max-width: 600px) {
    .producto-en-vitrina {
        gap: 20px;
        grid-template-columns: none;
        text-align: center;
    }

    .productos-en-venta {gap: 60px;}

    .imagen-producto {order: 2; margin: 0 auto;}
    .etiquetas-producto {display: none;}
}